/* Misc */

$vue-color: #46bd87;
$danger-color: #ea4d46;

/* Navbar */

$navbar-height: 3.6rem;
$navbar-color: #fff;
$navbar-offline-color: #333;
$navbar-link-color: #2c3e50;

/* Colors */
$black: #000;
$grey: #303030;
$greyHover: #999999;
$white: #fff;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
$textFont: 'Inter', sans-serif;
